/* Estilos generales para el formulario */
form {
    background-color: #979494; /* Gris claro */
    padding: 20px; /* Espaciado interno */
    width: 300px; /* Ancho del formulario */
    position: absolute; /* Posicionamiento absoluto */
    top: 20%; /* Distancia desde la parte superior */
    left: 10%; /* Distancia desde la izquierda */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    font-family: Arial, sans-serif;
  }
  
  /* Estilo para las etiquetas */
  form label {
    color: white;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Estilo para los campos de texto */
  form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el padding en el ancho */
  }
  
  /* Estilo para el botón */
  form button {
    background-color: #717271; /* Verde */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  form button:hover {
    background-color: #3e3f3e; /* Verde oscuro al pasar el ratón */
  }
  